torch
torchvision   
torchaudio     
transformers
peft
accelerate    
safetensors    
huggingface-hub
einops
#triton
numpy
pandas
scikit-learn
scipy
biopython
pyfaidx
statsmodels
matplotlib
seaborn
tensorboard    
tqdm
requests
